snippet concept "concept" bA
${1:ConceptName}
Name: ${2:name [Type]}
Purpose: ${3:short purpose description}
State: ${4:state description}
Actions:
- ${5:actionName}(${6:params}): ${7:precondition and effect}
Operating Principles:
- After ${8:actionName}(${9:params}): ${10:resulting property}
endsnippet
