snippet wtf "new project" Ab
next action
	${1:na}

vision / why
	${2:na}

outcome
	${3:na}

timeblock
	${4:na}

done
	${5:na}

backlog
	${6:na}

parent
	${7:na}

endsnippet

snippet comby "whats this for" Ab

binary tree
	${1:na}

inorder tree traversal
	${2:na}

type signature
	${3:na}

equivalence
	${4:na}

commentary
	${5:na}

derivatives
	${6:na}

intuition
	${7:na}

endsnippet

snippet meta "dont know" Ab

metadata
	${1:na}
	${2:na}
	${3:na}

endsnippet
